In [3]:
import pandas as pd
import requests
from io import BytesIO
import os
import numpy as np

In [3]:
url = 'https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv'
request = requests.get(url)

In [4]:
request.status_code

200

In [6]:
request.headers['content-type']

'text/csv'

In [7]:
request.text

'date,gender,users\r\n2020-06-14,Not specified,150\r\n2020-06-14,male,117\r\n2020-06-14,female,21'

In [12]:
data = request.content

In [14]:
df = pd.read_csv(BytesIO(data))

In [15]:
df

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [18]:
man_percentage = df.query('gender == "male"').users / df.users.sum() * 100

In [19]:
man_percentage

1    40.625
Name: users, dtype: float64

In [20]:
round(man_percentage)

1    41.0
Name: users, dtype: float64

### Выделение посещений, сделаных роботами с браузера, содержащего Chrome в названии из данных Яндекс.Метрика.

In [40]:
data = [i for i in os.listdir(os.getcwd()) if '.csv' in i][0]
data

'7_browser.csv'

In [41]:
metrika_df = pd.read_csv(data)

In [42]:
metrika_df

          date           browser user_type  users
0   2020-06-14     Google Chrome    People    139
1   2020-06-14     Chrome Mobile    People     35
2   2020-06-14     Google Chrome    Robots     28
3   2020-06-14    Yandex Browser    People     22
4   2020-06-14           Firefox    People     15
5   2020-06-14            Safari    People     13
6   2020-06-14           Firefox    Robots      8
7   2020-06-14   Android Browser    People      8
8   2020-06-14             Opera    People      5
9   2020-06-14     Mobile Safari    People      5
10  2020-06-14  Samsung Internet    People      5
11  2020-06-14            Safari    Robots      2
12  2020-06-14             UCWEB    Robots      2
13  2020-06-14              Edge    Robots      2
14  2020-06-14             Opera    Robots      1
15  2020-06-14             UCWEB    People      1
16  2020-06-14    Firefox Mobile    People      1
17  2020-06-14    Yandex Browser    Robots      1
18  2020-06-14   Android Browser    Robots      1
19  2020-06-14     Chrome Mobile    Robots      1
20  2020-06-14          Chromium    People      1
21  2020-06-14          Chromium    Robots      1
22  2020-06-14              Edge    People      1
23  2020-06-14            CocCoc    People      1

In [74]:
chrome_cond = np.where(metrika_df.browser.str.contains('Chrome'), 1, 0)

In [85]:
# 1-ый способ создать массив numpy соответствующий условию, что Robots дают True(1)
# robots_cond = np.array(metrika_df.user_type.apply(lambda x: 1 if x == 'Robots' else 0))
# 2-ой способ
robots_cond = metrika_df.user_type == 'Robots'

In [95]:
chrome_robots = chrome_cond * robots_cond

In [96]:
chrome_robots

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    1
20    0
21    0
22    0
23    0
Name: user_type, dtype: int64

### Вычислим количество строк без пропусков в колонке click_type. Запишем ответ в переменную not_nan_count

In [7]:
file_name = [i for i in os.listdir(os.getcwd()) if 'ads' in i][0]
file_name

'sample_ads.csv'

In [10]:
file_path = os.path.join(os.getcwd(), file_name)
file_path

'/mnt/HC_Volume_18315164/home-jupyter/jupyter-d-barkov/Homework/lesson_7/sample_ads.csv'

In [11]:
click_view_df = pd.read_csv(file_path)

In [12]:
click_view_df

    ad_id user_id click_type
0   12345   qwert        top
1   12345   fsssc     center
2   12345   vfvgg        NaN
3   12345   asrvv        NaN
4   12345   tynuy        top
5   12345   vreio        NaN
6   12345   oirbv        top
7   12345   kjvbe        NaN
8   12345   vkrej     center
9   12345   krjvb        top
10  12345   vrejn        top
11  12345   vrejk     center
12  12345   pirbv        NaN
13  12345    mpev        NaN
14  12345  pi3bvk        top
15  12345  osbvor     center
16  12345   vrbuo        NaN
17  12345   o3b0v        top

##### Способ 1

In [16]:
str_with_nan = click_view_df.click_type.isna().sum()
str_with_nan

7

In [20]:
click_view_df.click_type.shape[0]

18

In [23]:
not_nan_count = click_view_df.click_type.shape[0] - str_with_nan

In [24]:
not_nan_count

11

##### Способ 2

In [25]:
not_nan_count = click_view_df.click_type.notna().sum()

11