#### Подключаем библиотеку

In [1]:
import pandas as pd
import os

#### Объявляем путь поиска и загружаем дата фрейм

##### Функция поиска родительской директории

In [2]:
def find_parent_directory(path, level=1):
    upper_directory_path = path
    for i in range(level):
        upper_directory_path = os.path.dirname(upper_directory_path)
    return upper_directory_path

##### Вводим перемнные пути

In [3]:
current_file_path = os.getcwd()
parent_directory = find_parent_directory(current_file_path, 2)
searched_directory = 'shared/homeworks/python_ds_miniprojects/2/bookings.csv'
path_to_file = os.path.normpath('{}/{}'.format(parent_directory, searched_directory))
path_to_file

'/mnt/HC_Volume_18315164/home-jupyter/jupyter-d-barkov/shared/homeworks/python_ds_miniprojects/2/bookings.csv'

##### Загружаем датафрейм

In [7]:
bookings = pd.read_csv(path_to_file, sep=';')

#### Выводим первые 7 записей

In [5]:
bookings_head = bookings[:7]
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

#### Определяем размеры таблицы

In [6]:
bookings.shape

(119390, 21)

#### Определяем типы данных таблицы

In [7]:
bookings.dtypes.value_counts()

object     10
int64      10
float64     1
dtype: int64

#### Изменяем наименование колонок датафрейма

In [8]:
bookings.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

##### Функция преобразования символов и ее применение к названиям колонок

In [9]:
def change_symbols(name):
    name = name.replace(' ', '_').lower()
    return name

bookings = bookings.rename(columns=change_symbols)

In [10]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

#### Определяем, пользователи из каких стран совершили наибольшее число успешных бронирований. Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled).

In [11]:
success_bookings = bookings.query('is_canceled != 1').country.value_counts()
success_bookings

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
       ...
NCL        1
BFA        1
BDI        1
SYC        1
AIA        1
Name: country, Length: 165, dtype: int64

#### Выведем страны, входящие в топ-5.

In [12]:
success_bookings.head()

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

####  На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel? Получим значения с точностью до 2 знаков после точки.

##### Среднее число забронированных ночей в отелях типа city hotel:

In [13]:
bookings.query("hotel == 'City Hotel'") \
        .agg({'stays_total_nights' : 'mean'}) \
        .round(2)

stays_total_nights    2.98
dtype: float64

##### В resort hotel:

In [14]:
bookings.query("hotel == 'Resort Hotel'") \
        .agg({'stays_total_nights' : 'mean'}) \
        .round(2)

stays_total_nights    4.32
dtype: float64

##### Или

In [15]:
bookings.groupby('hotel', as_index=False) \
        .agg({'stays_total_nights' : 'mean'}) \
        .round(2)

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

#### Иногда тип номера, присвоенного клиенту (assigned_room_type), отличается от изначально забронированного (reserved_room_type).
Такое может произойти, например, по причине овербукинга.
<br>
Сколько подобных наблюдений встретилось в датасете?
<br>
*отмена бронирования также считается

In [16]:
bookings.query('assigned_room_type != reserved_room_type').shape

(14917, 21)

#### Теперь проанализируйте даты запланированного прибытия (arrival_date_year).
<br>
На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

In [17]:
bookings.query("arrival_date_year == 2016").value_counts('arrival_date_month')

arrival_date_month
October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
dtype: int64

In [18]:
 bookings.query("arrival_date_year == 2017").value_counts('arrival_date_month')

arrival_date_month
May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
dtype: int64

#### Сгруппируем данные по годам, и проверим, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017?

In [38]:
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids,has_kids
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01,0.0,False
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02,0.0,False
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02,0.0,False
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03,0.0,False

In [39]:
bookings.query("hotel == 'City Hotel' and is_canceled == 1").head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date,total_kids,has_kids
40061,City Hotel,1,88,2015-07-01,2015,July,27,1,0,4,...,0,BB,PRT,A,A,Transient,Canceled,2015-07-01,0.0,False
40062,City Hotel,1,65,2015-07-01,2015,July,27,1,0,4,...,0,BB,PRT,A,A,Transient,Canceled,2015-04-30,0.0,False
40063,City Hotel,1,92,2015-07-01,2015,July,27,1,2,4,...,0,BB,PRT,A,A,Transient,Canceled,2015-06-23,0.0,False
40064,City Hotel,1,100,2015-07-02,2015,July,27,2,0,2,...,0,BB,PRT,A,A,Transient,Canceled,2015-04-02,0.0,False
40065,City Hotel,1,79,2015-07-02,2015,July,27,2,0,3,...,0,BB,PRT,A,A,Transient,Canceled,2015-06-25,0.0,False

In [33]:
bookings.query("hotel == 'City Hotel' and is_canceled == 1") \
        .groupby('arrival_date_year')['arrival_date_month'] \
        .value_counts()

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

#### Посмотрите на числовые характеристики трёх колонок: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [20]:
bookings[['adults', 'children', 'babies']].mean().idxmax()

'adults'

In [21]:
bookings[['adults', 'children', 'babies']]

        adults  children  babies
0            2       0.0       0
1            2       0.0       0
2            1       0.0       0
3            1       0.0       0
4            2       0.0       0
...        ...       ...     ...
119385       2       0.0       0
119386       3       0.0       0
119387       2       0.0       0
119388       2       0.0       0
119389       2       0.0       0

[119390 rows x 3 columns]

#### Создайте колонку total_kids, объединив столбцы children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?

In [22]:
bookings['total_kids'] = bookings.children + bookings.babies

In [23]:
bookings[['total_kids']]

        total_kids
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
...            ...
119385         0.0
119386         0.0
119387         0.0
119388         0.0
119389         0.0

[119390 rows x 1 columns]

In [24]:
bookings.groupby('hotel') \
        .agg({'total_kids': 'mean'}) \
        .round(2) \
        .max()

total_kids    0.14
dtype: float64

#### Churn Rate.
#### Создайте переменную has_kids, которая принимает значение True, если клиент при бронировании указал хотя бы одного ребенка (total_kids), в противном случае – False. Далее проверьте, среди какой группы пользователей показатель оттока выше.

In [25]:
bookings['has_kids'] = bookings.total_kids > 0

In [26]:
bookings.has_kids

0         False
1         False
2         False
3         False
4         False
          ...
119385    False
119386    False
119387    False
119388    False
119389    False
Name: has_kids, Length: 119390, dtype: bool

In [27]:
no_kids_num = bookings.query('has_kids == False and is_canceled > 0').shape[0]
total_num_1 = bookings.query('has_kids == False').shape[0]

In [28]:
has_kids_num = bookings.query('has_kids == True and is_canceled > 0').shape[0]
total_num_2 = bookings.query('has_kids == True').shape[0]

In [29]:
churn_rate_1 = round(no_kids_num / total_num_1 * 100, 2)
churn_rate_1

37.22

In [30]:
churn_rate_2 = round(has_kids_num / total_num_2 * 100, 2)
churn_rate_2

34.92