In [11]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

### Загрузка датасетов:

In [35]:
datasets_directory = '/home/jupyter-d-barkov/shared/homeworks/python_ds_miniprojects/3/'
user_data = pd.read_csv(f'{datasets_directory}/user_data.csv', encoding='utf-8')
logs = pd.read_csv(f'{datasets_directory}/logs.csv', encoding='windows-1251')

In [36]:
user_data.head()

   client  premium  age
0   46346    False   58
1    4391    False   55
2   27372    False   64
3   11989    False   44
4   60664    False   49

In [37]:
logs.head()

   client  success  platform        time
0   40177     True     phone  1585412212
1   61468     True     phone  1585425658
2   35604    False     phone  1585459894
3    9961     True     phone  1585400189
4   10931     True  computer  1585468629

### 1) Проверка размеров таблиц, типов переменных, просмотр описательной статистики:

##### Проверка на размеры таблицы датафрейма

In [38]:
user_data.shape

(2954, 3)

##### Проверка типов данных в колонках таблицы датафрейма

In [39]:
user_data.dtypes

client     int64
premium     bool
age        int64
dtype: object

##### Вызов описательной статистики

In [40]:
user_data.describe()

             client          age
count   2954.000000  2954.000000
mean   50767.886594    44.196005
std    28800.505847    14.248336
min       40.000000    20.000000
25%    25639.500000    32.000000
50%    51569.500000    44.000000
75%    75963.250000    56.000000
max    99973.000000    69.000000

##### Проверка на наличие пустых значений в таблице датафрейма

In [47]:
user_data.isna().sum()

client     0
premium    0
age        0
dtype: int64

In [41]:
logs.shape

(4500, 4)

In [42]:
logs.dtypes

client       int64
success       bool
platform    object
time         int64
dtype: object

In [43]:
logs.describe()

             client          time
count   4500.000000  4.500000e+03
mean   50998.758000  1.585440e+09
std    28374.472495  2.314866e+04
min       40.000000  1.585400e+09
25%    27056.500000  1.585420e+09
50%    52659.000000  1.585440e+09
75%    76001.250000  1.585461e+09
max    99993.000000  1.585480e+09

In [48]:
logs.isna().sum()

client      0
success     0
platform    0
time        0
dtype: int64

##### Поиск уникальных значений колонки 'platform' в датафрейме logs:

In [44]:
logs.platform.nunique()

3

### 2) Определение клиента, совершившего больше всего операций:

In [79]:
success_operations = logs \
                        [logs.success == 1] \
                        .groupby('client', as_index=False) \
                        .agg({'success': 'count'}) \
                        .sort_values('success', ascending=False) \
# .query('success == 1') \

success_operations.head(9).client.reset_index()

   index  client
0    332   12179
1   1758   61468
2   1487   52870
3   1759   61473
4   2626   92584
5   2345   82563
6   2231   78349
7   1020   36165
8    810   28719